.movie_list_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 5px;
}

.movie_list_heading {
    display: flex;
    align-items: center;
    font-size: 26px;
    color: #ffe400
}